*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

:root{
    font-family: 'Outfit', sans-serif;
}

/* HEADER */
header{
    width: 100%;
    background-color: #ff6900;
    position: fixed;
    z-index: 500;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    min-height: 70px;
}

.navlist{
    flex-basis: 20%;
}

ul{
    display: flex;
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    padding: 0 3px;
    margin: 0 2px;
}

a:hover{
    text-decoration: underline;
}

.navlogo{
    display: flex;
    flex-basis: 35%;
    justify-content: center;
}

.logo{
    height: 30px;
    content: url(../img/boolean-logo.png);
}

.profile{
    display: flex;
    justify-content: flex-end;
    flex-basis: 20%;
}

/* MAIN */
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 130px 0 50px;

}

section{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.row{
    display: flex;
}

.col{
    width: calc((100% / 3) - 20px);
    margin: 0 10px;
    /* debug */
    /* display: flex; */
    /* justify-content: center; */
    /* padding: 0 5px; */
    /* background-color: gray; */
    /* min-height: 100px; */
}

img{
    width: 100%;
}

.heart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    position: absolute;
    top:10px;
    right: 0;
    z-index: 450;
    font-size: 20px;
}
.img-prod{
    position: relative;
    cursor: pointer;
}

.img-hover{
    position: absolute ;
    top: 0;
    left: 0;
    display: none;
}

.img-prod:hover .img-hover{
    display: block;
}

.brand{
    font-weight: lighter;
}

.des{
    font-weight: bold;
}

.discount-price{
    color: red;
    font-size: 14px;
    font-weight: bold;
}

.real-price{
    font-size: 14px;
    text-decoration: line-through;
    font-weight: 200;
}

span{
    margin-right: 4px;
}

.discount{
    background-color: red;
    color: white;
    padding: 3px;
}

.sostenibilit{
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 3px;
}

.label-left{
    position: absolute;
    bottom: 40px;
}

.label-right{
    position: absolute;
    bottom: 40px;
    left: 46px;
}